* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: #14e5;
}

.box {
    background-color: rgb(243, 243, 243);
    padding: 40px ;
    border-radius: 28px;
    box-shadow: 8px 5px 14px -1px rgb(94, 94, 94);
    -webkit-box-shadow: 8px 5px 14px -1px rgba(94, 94, 94);
    -moz-box-shadow: 8px 5px 14px -1px rgba(94, 94, 94);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: black;
    font-family: sans-serif;
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid black;
    outline: none;
    font-size: 22px;
}

input::placeholder {
    font-size: 23px;
}

#button {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: #14e5;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
    transition: 400ms ease;
}

.btn2 {
    margin-left: 85px;
}

#button:hover {
    color: white;
    background-color: black;
}
